/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  /*background-image: url("https://raw.githubusercontent.com/joseywoermann/joseywoermann.github.io/master/assets/images/background.jpg"); /*original: https://i.pinimg.com/originals/6a/28/9c/6a289c0fa41e89fb24157e34b1237592.jpg*/
}

.wrapper {
  font-size: 28pt;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}

/*Desktops*/
@media screen and (min-width: 1442px){

  .repository-box {
    background-color: #25282b;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 26vw;
  }

  .repo-description {
    margin-top: 2%;
    font-size: 15pt;
    line-height: 22px;
  }

  #header {
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 28pt;
  }

  #navnlos-box {
    position: absolute;
    top: 15%;
    right: 10%;
  }

  #rccar-box {
    position: absolute;
    top: 45%;
    right: 10%;
  }

  #see-all-box {
    position: absolute;
    top: 75%;
    right: 10%;
  }

  #header {
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s both;
  }
}


@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes slide-in-fwd-center {
0% {
  transform: scale(0);
  opacity: 0;
}
100% {
  transform: scale(1);
  opacity: 1;
}
}
