.lanyard {
  display: grid;
  grid-template-columns: 3.3vh 3.3vh 3.3vh 1fr 1fr 1fr;
  grid-template-rows: 3.3vh 3.3vh 3.3vh;
  gap: 0px 0px;
  grid-template-areas:
    "album-art album-art album-art game game game"
    "album-art album-art album-art details details details"
    "album-art album-art album-art additional-details additional-details additional-details";

  /*STYLING*/
  background-color: #131313;
  border: 8px solid #131313;
  border-radius: 8px;
  place-items: center;

  min-width: 14vw;
  width: auto;
  height: 10vh;

  position: absolute;
  top: 60%;
  left: 8%;
}

#album-art {
  grid-area: album-art;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  visibility: hidden;
}

#game {
  font-size: 35%;
  grid-area: game;
}

#details {
  font-size: 50%;
  grid-area: details;
}

#additional-details {
  font-size: 35%;
  grid-area: additional-details;
}

.lanyard-text {
  padding: 0px 10px;
  white-space: nowrap;
}

#lanyard-box {
  visibility: hidden;
}
