@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");


/* general */

p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 28pt;
    line-height: 35px;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #e6e6e6;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
/* For mobile devices */
@media screen and (max-width: 1441px) {
}