/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.wrapper {
  font-size: 28pt;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}

body {
  /*background-image: url("https://joseywoermann.ml/assets/images/wallpaper.jpg");*/
  background: #010101;
}

/*startpage-links*/

.about {
  position: absolute;
  top: 30%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
}

.projects {
  position: absolute;
  top: 40%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.7s both;
}

.nanvlos {
  position: absolute;
  top: 50%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.8s both;
}

.blog {
  position: absolute;
  top: 60%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.9s both;
}

.social_media {
  position: absolute;
  top: 70%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.0s both;
}



/*end startpage-links*/





/*formatting of links*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e6e6e6;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


/*fade in animation*/
@keyframes slide-in-fwd-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


#repo-description {
  margin-top: 2%;
  font-size: 15pt;
  line-height: 22px;
}


#navnlos-box {
  position: absolute;
  top: 15%;
  right: 10%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
  background-color: #131313;
}

#website-box {
  position: absolute;
  top: 45%;
  right: 10%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.8s both;
  background-color: #131313;
}

#see-all-box {
  position: absolute;
  top: 75%;
  right: 10%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.0s both;
  background-color: #131313;
}
