/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.wrapper {
  font-size: 28pt;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}

body {
  /*background-image: url("https://joseywoermann.ml/assets/images/wallpaper.jpg");*/
  background: #131313;
}

/*startpage-links*/

.twitter {
  position: absolute;
  top: 30%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
}

.instagram {
  position: absolute;
  top: 40%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.7s both;
}

.discord {
  position: absolute;
  top: 50%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.8s both;
}

.projects {
  position: absolute;
  top: 60%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.9s both;
}

.about {
  position: absolute;
  top: 70%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.4s both;
}

/*end startpage-links*/





/*formatting of links*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e6e6e6;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


/*fade in animation*/
@keyframes slide-in-fwd-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



/*slideshow*/

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 30%; /*30% der Bildschirmbreite*/
  position: absolute;
  top: 30%;
  left: 10%;
  /*margin: auto; */
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*end slideshow*/



/*cookies*/

#footer-cookie {
  color: white;
  font-size: 15pt;
  line-height: 15px;

  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #131313;
}

#cookie-description {
  float: left;
  background: #131313;
}
