/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");


@media screen and (max-width: 1441px) {

  .about-me {
    position: absolute;
    top: 10vh;
    margin-right: 5vw;
    font-size: 23pt;
    line-height: 40px;
    text-align: left;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
  }

  #hello-there {
    font-size: 35pt;
    line-height: 40px;
  }

  .repository-box {
    background-color: #131313;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 80vw;
  }

  .repository-box {
    background-color: #131313;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 80vw;
  }

  #header {
    display: none;
  }

  #profile-pic {
    width: 50px;
  }

  #button-root {
    position: absolute;
    right: 40%;
    background-color: transparent;
    border: none;
    padding: 20px;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.4s both;
  }
}


/*mobile*/
@media screen and (max-width: 1441px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;

    color: white;
    font-size: 15pt;
    line-height: 15px;

    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;

    padding-left: 30px;
    padding-right: 30px;
    background: #131313;
  }

  #cookie-description {
    width: 100%;
  }

  #cookie-accept {
    width: 100%;
    margin-top: 15px;

    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
    float: right;

    background: #131313;
  }

  #cookie-accept a {
    width: 100%;
    display: block;
    text-align: center;

    border: 2px solid #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    background: #131313;
  }

  #countdown {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15pt;
  }
}
