@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    //color: white;
}

.wrapper {
  font-size: 28pt;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}
/*
.social-button {
    --social-button-size: 100px;
    width: var(--social-button-size);
    height: var(--social-button-size);
}

.social-icon {
    --social-icon-size: 90px;
    width: var(--social-icon-size);
    height: var(--social-icon-size);
}
*/
