/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.wrapper {
  font-size: 28pt;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}

body {
  /*background-image: url("https://joseywoermann.ml/assets/images/wallpaper.jpg");*/
  background: #131313;
}

/*startpage-links*/

.twitter {
  position: absolute;
  top: 30%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
}

.instagram {
  position: absolute;
  top: 40%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.8s both;
}

.discord {
  position: absolute;
  top: 50%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.0s both;
}

.projects {
  position: absolute;
  top: 60%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.2s both;
}

.about {
  position: absolute;
  top: 70%;
  right: 25%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.4s both;
}

/*end startpage-links*/





/*formatting of links*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e6e6e6;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


/*fade in animation*/
@keyframes slide-in-fwd-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



/*slideshow*/

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 30%; /*30% der Bildschirmbreite*/
  position: absolute;
  top: 30%;
  left: 10%;
  /*margin: auto; */
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*end slideshow*/









/*Desktops*/
@media screen and (min-width: 1442px){

  .about-me {
    position: absolute;
    top: 25vh;
    right: 0vw;
    margin-right: 5vw;
    font-size: 25pt;
    line-height: 35px;
    max-width: 35vw;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
  }

  #hello-there {
    font-size: 40pt;
    line-height: 40px;
  }

  div.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
  }



  .repository-box {
    background-color: #131313;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 26vw;
  }

  #repo-description {
    margin-top: 2%;
    font-size: 15pt;
    line-height: 22px;
  }

  #header {
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 28pt;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.4s both;
  }

  #navnlos-box {
    position: absolute;
    top: 15%;
    right: 10%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
    background-color: #131313;
  }

  #rccar-box {
    position: absolute;
    top: 45%;
    right: 10%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.8s both;
    background-color: #131313;
  }

  #see-all-box {
    position: absolute;
    top: 75%;
    right: 10%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.0s both;
    background-color: #131313;
  }

  #countdown {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  #profile-pic {
    width: 50px;
  }

  #button-root {
    background-color: transparent;
    border: none;
    padding: 20px;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.4s both;
  }

  .four-o-four {
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
  }
}

/*Smartphones*/
@media screen and (max-width : 1441px) {

  .about-me {
    position: absolute;
    top: 10vh;
    margin-right: 5vw;
    font-size: 23pt;
    line-height: 40px;
    text-align: left;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
  }

  #hello-there {
    font-size: 35pt;
    line-height: 40px;
  }

  div.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
  }

  .repository-box {
    background-color: #131313;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 80vw;
  }

  #repo-description {
    margin-top: 2%;
    font-size: 15pt;
    line-height: 22px;
  }

  #header {
    display: none;
  }

  #navnlos-box {
    position: absolute;
    top: 15%;
    right: 10%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.6s both;
    background-color: #131313;
  }

  #rccar-box {
    position: absolute;
    top: 45%;
    right: 10%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.8s both;
    background-color: #131313;
  }

  #see-all-box {
    position: absolute;
    top: 75%;
    right: 10%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1.0s both;
    background-color: #131313;
  }

  #profile-pic {
    width: 50px;
  }

  #button-root {
    position: absolute;
    right: 40%;
    background-color: transparent;
    border: none;
    padding: 20px;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.4s both;
  }
}



/*cookies*/

#footer-cookie {
  color: white;
  font-size: 15pt;
  line-height: 15px;

  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #131313;
}

#cookie-description {
  float: left;
  background: #131313;
}

#cookie-accept {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  float: right;

  background: #131313;
}

#cookie-accept a {
  border: 2px solid #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  background: #131313;
}




/*mobile*/
@media screen and (max-width: 1441px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #cookie-description {
    width: 100%;
  }

  #cookie-accept {
    width: 100%;
    margin-top: 15px;
  }

  #cookie-accept a {
    width: 100%;
    display: block;
    text-align: center;
  }

  #countdown {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15pt;
  }
}
