/*padding: top right bottom left; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { /*everything*/
  color: white;
  font-size:28pt;
  font-family:verdana;
  line-height: 28px;
}

.wrapper { /*content*/
  margin: 0 auto;
  width: 95%;
}




.twitter {
  position: absolute;
  top: 30%;
  right: 30%;
}

.instagram {
  position: absolute;
  top: 40%;
  right: 30%;
}

.reddit {
  position: absolute;
  top: 50%;
  right: 30%;
}

.discord {
  position: absolute;
  top: 60%;
  right: 30%;
}

.projects {
  position: absolute;
  top: 70%;
  right: 30%;
}


/*startpage*/

.welcome {
  position: absolute;
  top: 30%;
  right: 50%;
}

.nothing-here {
  position: absolute;
  top: 50%;
  right: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3e3e3e;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*slideshow*/

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 30%; /*30% der Bildschirmbreite*/
  position: absolute;
  top: 30%;
  left: 10%;
  /*margin: auto; */
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
/*.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .caption {
    font-size: 11px
  }
}

/*end slideshow*/





/*formatting of ,inks*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
