/*padding: top right bottom left; */


* {
  margin: 0;
  padding: 0;
}

body { /*everything*/
  color: white;
  font-size:28pt;
  font-family:verdana;
  line-height: 28px;
}

.wrapper { /*content*/
  margin: 0 auto;
  width: 95%;
}




.twitter {
  position: absolute;
  top: 30%;
  right: 30%;
}

.instagram {
  position: absolute;
  top: 40%;
  right: 30%;
}

.reddit {
  position: absolute;
  top: 50%;
  right: 30%;
}

.discord {
  position: absolute;
  top: 60%;
  right: 30%;
}

.projects {
  position: absolute;
  top: 70%;
  right: 30%;
}


/*startpage*/

.welcome {
  position: absolute;
  top: 30%;
  right: 50%;
}

.nothing-here {
  position: absolute;
  top: 50%;
  right: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3e3e3e;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*formatting of ,inks*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
