/*padding: top right bottom left; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  color: white;
  font-size:28pt;
  font-family:verdana;
  line-height: 28px;
}

.wrapper { /*content*/
  margin: 0 auto;
  width: 95%;
}




/*startpage-links*/

.twitter {
  position: absolute;
  top: 30%;
  right: 30%;
}

.instagram {
  position: absolute;
  top: 40%;
  right: 30%;
}

.reddit { /*actually discord, but for some bizarre reason it doesn't work in any other way*/
  position: absolute;
  top: 50%;
  right: 30%;
}

.discord { /*actually projects, but for some bizarre reason it doesn't work in any other way*/
  position: absolute;
  top: 60%;
  right: 30%;
}

.projects { /*actually about, but for some bizarre reason it doesn't work in any other way*/
  position: absolute;
  top: 70%;
  right: 30%;
}

/*end startpage-links*/




/*temporary page*/

.welcome {
  position: absolute;
  top: 30%;
  right: 50%;
}

.nothing-here {
  position: absolute;
  top: 50%;
  right: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3e3e3e;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*end temporary page*/





/*slideshow*/

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: 30%; /*30% der Bildschirmbreite*/
  position: absolute;
  top: 30%;
  left: 10%;
  /*margin: auto; */
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
/*.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .caption {
    font-size: 11px
  }
}

/*end slideshow*/





/*cookies*/

#footer-cookie {
  color: white;
  font-size:15pt;
  font-family:verdana;
  line-height: 15px;
}

#footer-cookie, #footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #303030;
  color: #fff;
}

#footer-cookie a {
  color: #fff;
}

#footer-cookie #description {
  float: left;
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;
  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}
/*
#footer-cookie {
  color: white;
  font-size:15pt;
  font-family:verdana;
  line-height: 15px;
}

#footer-cookie, #footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 15px;
  background: #303030;
  color: #fff;
}

#footer-cookie a {
  color: #fff;
}

#footer-cookie #description {
  float: left;
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;
  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}*/
/*cookies*/



/*formatting of links*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
