/*padding: top right bottom left; */

/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  /*background-image: url("https://raw.githubusercontent.com/joseywoermann/joseywoermann.github.io/master/assets/images/background.jpg"); /*original: https://i.pinimg.com/originals/6a/28/9c/6a289c0fa41e89fb24157e34b1237592.jpg*/
}

.wrapper {
  font-size: 28pt;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}

/*startpage-links*/

.twitter {
  position: absolute;
  top: 30%;
  right: 25%;
}

.instagram {
  position: absolute;
  top: 40%;
  right: 25%;
}

.discord {
  position: absolute;
  top: 50%;
  right: 25%;
}

.projects {
  position: absolute;
  top: 60%;
  right: 25%;
}

.about {
  position: absolute;
  top: 70%;
  right: 25%;
}

/*end startpage-links*/


/*about*/

.about-me {
  position: absolute;
  top: 10vh;
  margin-right: 5vw;
  /*margin-top: 5%;*/ /*make space from the top of the page*/
  font-size: 25pt;
}

/* On smaller screens, increase text size */
@media only screen and (max-width: 1441px) {
  .about-me {
    font-size: 30pt;
  }
}

#link {
  text-decoration: underline; /*underline links*/
}

div.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #25282b;
  color: white;
  /*text-align: center;*/
  border: 3px solid black;
  border-radius: 8px;
}

/*end about*/

/*home*/

/*slideshow*/

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: 30%; /*30% der Bildschirmbreite*/
  position: absolute;
  top: 30%;
  left: 10%;
  /*margin: auto; */
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*end slideshow*/

/*end home*/

/*cookies*/

#footer-cookie {
  color: white;
  font-size: 15pt;
  font-family: "Montserrat", sans-serif;
  line-height: 15px;

  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #25282b;
  color: #ffffff;
}

#accept {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;

  background: #25282b;
}

#footer-cookie #description {
  float: left;

  background: #25282b;
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  text-decoration: none;

  background: #25282b;
}

@media (max-width: 1200px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;
  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/*cookies*/

/*coming soon*/
.coming-soon {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 37vw;
}

/*end of coming soon*/

#background-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}





/*repositories (projects)*/


/*.repositories {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
}*/



/*Desktops*/
@media screen and (min-width: 1442px){
  .repository-box {
    background-color: #25282b;
    border: 2px solid #e1e4e8;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 26vw;
  }

  .repo-description {
    font-size: 15pt;
    line-height: 22px;
  }

  #header {
    position: absolute;
    top: 50%;
    left: 15%;
  }

  #navnlos-box {
    position: absolute;
    top: 20%;
    right: 15%;
  }

  #vertretungsplan-app-box {
    position: absolute;
    top: 50%;
    right: 15%;
  }

  #rccar-box {
    position: absolute;
    top: 70%;
    right: 15%;
  }
}

/*Smartphones*/
@media screen and (max-width : 1441px){
  .repository-box {
    background-color: #25282b;
    border: 2px solid #e1e4e8;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 80vw;
  }

  .repo-description {
    font-size: 15pt;
    line-height: 22px;
  }

  #header {
    display: none;
  }

  #navnlos-box {
    position: absolute;
    top: 20%;
    right: 50%;
  }

  #vertretungsplan-app-box {
    position: absolute;
    top: 50%;
    right: 50%;
  }

  #rccar-box {
    position: absolute;
    top: 70%;
    right: 15%;
  }
}



/*formatting of links*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
